body
{
    background-color: black;
}

.motivation{
    margin-left: 25%;
    width: 50%;
    color: red;
    margin-top: 100px;
    font-weight: 700;
    font-size: larger;
    text-align: center;
    font-family: 'Libre Baskerville', serif;    
    text-transform: capitalize;
}

.motivation-img {
    border: 5px solid white;
    width: 100%;
  }

